 body{
    background-color: black;
}

.image-container {
    width: 400px; 
    height: 400px;
    overflow: hidden;  
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .zoom-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 1.3s ease-in-out; 
  }
  
  .zoom-image:hover {
    transform: scale(1.9); 
  }
 
  .image-container{ 
    margin-top: 10%; 
    margin-left: 37%; 
    display: flex;
    justify-content: center;
  }